.Keys {
  display: inline-block;
  padding: 10px 30px;
}

.Keys:active {
  background-color: #c4bebe; 
}

/* Increase the width for the SQ(x) button */
.Keys:nth-child(18) {
  grid-column: 2 / span 2;
}

/* Calculator Keys Theme */
.DarkKeys {
  transition: all 0.25s linear;
  background-color: #666;
}

.LightKeys {
  transition: all 0.25s linear;
  background-color: #f0f0f0;
}